<%= form_for @category do |f| %>
  <div class="control-group">
    <%= f.label :name, "Category Name" %>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.submit button_name, class: "btn btn-primary" %>
  </div>
<% end %>